<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621633361811-7qenvcpee9gkj2bl6pt041fak20nb6f5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621633361811-7qenvcpee9gkj2bl6pt041fak20nb6f5</string>
	<key>API_KEY</key>
	<string>AIzaSyBCgxhw8rYb-Pw0QBxozi94OkUUpcTftss</string>
	<key>GCM_SENDER_ID</key>
	<string>621633361811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.verygoodcore.magic-yeti</string>
	<key>PROJECT_ID</key>
	<string>mtg-yeti</string>
	<key>STORAGE_BUCKET</key>
	<string>mtg-yeti.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621633361811:ios:c90df93e483a62e6f57a66</string>
</dict>
</plist>